*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background: #AECCC6;
}
.sidebar header{
    font-size: 30px;
    color: #373636;
    text-align: right;
    line-height: 70px;
    background: #A1C298;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 15px;
    color: #373636;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(16, 15, 15, 0.1);
    border-bottom: 1px solid #858585;
    transition: .4s;
}
ul li:hover a{
    padding-left: 50px;
}
.sidebar ul a i{
    margin-right: 16px;
}
.logo{
    width: 40px;
    height: 40px;
    background:  #ffff;
    border-radius: 100%;
    margin-top: -193PX;
    margin-left: 20px;
}
.conten {
    position: relative;
    top: 150px;
    margin-left: 400px;
}
.conten table{
    border-collapse: collapse;
    font-size: 12pt;
    border: 1px solid #cccccc;
}
td{
    padding: 3px;
    height: 25px;
}
th{
    background-color: #A1C298;
    color: white;
    height: 30px;
}
h3{
    font-weight: 600;
    color: #A1C298;
}
.btn-delete{
    border: 1px solid #db5d59;
    height: 22px;
    padding-left: 15px;
    padding-top: 5px;
}

table tr td:first-child img{
    width: 30px;
    height: 20px;
    background-color: #db5d59;
} 
.btn-edit{
    border: 1px solid #1363DF;
    height: 22px;
    padding-left: 15px;
    padding-top: 5px;
}
table tr td:last-child #edit img{
    width: 30px;
    height: 20px;
    background-color: #1363DF;
}

table tr td:last-child #delete img{
    width: 30px;
    height: 20px;
    background-color: #df8713;
}