.container{

}

.sidebar{
    position: fixed;
    left: 0;
    width: 20%;
    height: 1100px;
    margin-top: -18px;
    background-color: #AECCC6;
}

.teks-hero{
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    line-height: 50px;
    margin-top: -15px;
    right: 10px;   
}
a{
    text-decoration: none;
}
#daftar1{
    color: #373636;
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    margin-top: 140px;
    text-align: center;
}
#daftar2{
    color: #373636;
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    margin-top: 30px;
    text-align: center;
}
.logo{
    width: 35px;
    height: 35px;
    background:  #ffff;
    border-radius: 100%;
    margin-top: -193PX;
    margin-left: 20px;
}
.conten{
    position: relative;
    top: 150px;
    margin-left: 400px;
}